# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password

# Backend Configuration
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/your_database?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SERVER_PORT=8080

# Ports Configuration
ADMINER_PORT=8082
BACKEND_PORT=8080
FRONTEND_PORT=8083

# Network Configuration
NETWORK_NAME=quizznet